/* @import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600|Space+Mono:700,400"); */

body{
  background: #121117;
  font-family: 'Space Mono', monospace !important;
}

h1,h2,h3,h4,h5,span,p{
    font-family: 'Space Mono', monospace !important;
}

.dashboard-app-card {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  height: 350px;
  min-width: 350px;
  mix-blend-mode: normal;
  object-fit: cover;
  pointer-events: auto;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.dashboard-app-card:hover {
  transform: scale(0.95);
}

.dashboard-app-mini-card {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  min-width: 100px;
  mix-blend-mode: normal;
  object-fit: cover;
  pointer-events: auto;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 20px;
}



.dashboard-app-mini-card:hover {
  transform: scale(0.95);
}

.dashboard-sync-app {
  align-self: stretch;
  background-color: #20004a;
  cursor: pointer;
  height: 100px;
  min-width: 100px;
  mix-blend-mode: normal;
  object-fit: cover;
  pointer-events: auto;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.dashboard-sync-app:hover {
  transform: scale(0.95);
}

.collection-card {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  position: relative;
}

.collection-slider {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 50px;
  height: auto;
  /* overflow-x: scroll; */
  position: relative;
  /* width: 690px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-read-access {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 15px;
  height: auto;
  position: relative;
}