:root {
  --primary-hue: 210;
  --gray-hue: 240;
  --color-primary: white;
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
  --color-secondary: #ffb116;
  --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
  --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
  --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
  --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
  --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
  --color-gray-600: hsl(var(--gray-hue), 48%, 15%);
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --transition: all 500ms ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-gray-200);
  line-height: 1.7;
  overflow-x: hidden;
  /* background: rgb(71, 25, 8) url('../assets/images/bg_texture.png'); */
  /* background: var(--color-gray-600) url('../assets/images/bg_texture.png'); */
  /* background: #20073a url('../assets/images/bg_texture.png'); */
}

.backgroundWorkout {
  /* background: #1F1D2B url('../assets/images/bg_texture.png'); */
  background: rgb(26, 28, 30);
  background: rgb(38, 40, 54);
}

.maintoheader {
  width: 100vw;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  margin-top: 3rem;
}

.maintoheader-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}

.maintoheader-left {
  margin-top: -3rem;
}

.maintoheader-left h4 {
  margin-bottom: 1rem;
  color: var(--color-secondary);
  font-weight: 400;
}

.maintoheader-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1.2rem;
}

.maintoheader-right {
  display: grid;
  place-items: center;
  position: relative;
}

.maintoheader-circle {
  width: 25rem;
  height: 25rem;
  /* background: linear-gradient(75deg, var(--color-secondary), transparent); */
  background: linear-gradient(75deg, black, transparent);
  filter: blur(50px);
  border-radius: 50%;
  position: absolute;
  transition: var(--transition);
}

.maintoheader-image {
  position: relative;
}

.maintoheader-right:hover .maintoheader-circle {
  filter: blur(20px);
}

/* ========= PROGRAMS ========= */
.programs {
  margin-top: 4rem;
}

.programstowrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}

/* .programstoprogram a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .programstoprogram:hover a {
    background: var(--color-secondary);
    color: var(--color-gray-600);
  } */

/* ========= VALUES ========= */
.valuestocontainer {
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 12%;
}

.valuestoimage {
  filter: saturate(0.25);
  transition: var(--transition);
}

.valuestoimage:hover {
  filter: saturate(1);
}

.valuestoright>p {
  margin: 1.5rem 0 5rem;
}

.valuestowrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.4rem 2.4rem;
}

.card.valuestovalue {
  padding-top: 3.5rem;
  text-align: left;
  position: relative;
}

.card.valuestovalue span {
  position: absolute;
  top: -1.5rem;
}

/* ========= FAQs ========= */
.faqstowrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 5rem;
  align-items: flex-start;
}

.faq {
  background: var(--color-gray-500);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.faq div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqtoicon {
  background: transparent;
  color: var(--color-gray-100);
  font-size: 1.5rem;
}

.faq p {
  margin-top: 1.5rem;
}

/* ========= Testimonails ========= */
.testimonails {
  width: 50rem;
  margin-inline: auto;
}

.testimonailstohead {
  justify-content: center;
}

.card.testimonail {
  position: relative;
  text-align: left;
  margin-top: 5rem;
}

.testimonailstoavatar {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  border: 2px solid transparent;
  overflow: hidden;
  position: absolute;
  top: -2rem;
  left: calc(50% - 2rem);
  box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
  transition: var(--transition);
}

.testimonails:hover .testimonailstoavatar {
  border-radius: 50%;
  border-color: var(--color-gray-400);
}

.testimonailstoquote {
  font-style: italic;
  margin: 1rem 0 2rem;
}

.card small.testimonailstotitle {
  margin-top: 0.3rem;
}

.testimonailstobttn-container {
  width: fit-content;
  margin: 2.5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.testimonailstobttn {
  background: transparent;
  cursor: pointer;
}

.testimonailstobttn svg {
  fill: var(--color-primary);
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
}

/* ========= Footer ========= */
footer {
  /* background: var(--color-primary); */
  background: black;
  margin-top: 7rem;
  padding-top: 7rem;
  font-size: 1rem;
  color: var(--color-gray-100);
}

.footertocontainer {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  gap: 6rem;
}

.footertocontainer article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

.footertocontainer article p {
  margin-top: 0.5rem;
}

.footertocontainer article h4 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

.footertosocials {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footertosocials a {
  background: var(--color-gray-100);
  padding: 0.7rem;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  transition: var(--transition);
}

.footertosocials a svg {
  color: var(--color-gray-600);
}

.footertosocials a:hover {
  border-color: var(--color-gray-100);
  background: transparent;
}

.footertocopyright {
  color: var(--color-gray-100);
  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid var(--color-primary-variant);
  margin-top: 5rem;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-hue: 210;
  --gray-hue: 240;
  --color-primary: hsl(var(--primary-hue), 100%, 50%);
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
  --color-secondary: #c88500;
  --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
  --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
  --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
  --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
  --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
  --color-gray-600: hsl(var(--gray-hue), 48%, 15%);
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --transition: all 500ms ease;
}

/* GENERAL STYLES */

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-gray-100);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/* a {
  color: var(--color-gray-100);
} */

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.bttn {
  font-family: 'Space Mono';
  color: var(--color-gray-100);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  /* background: var(--color-primary); */
  background: #03326D;
  border-radius: 1.5rem;
  transition: var(--transition);
}

.bttn:hover {
  /* background: var(--color-secondary); */
  background: var(--color-secondary);
  color: black;
}

.bttn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.bttn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
}

.bttn.sm:hover {
  background: var(--color-gray-100);
}

section {
  margin-top: 10rem;
}

.sectiontohead {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sectiontohead span {
  background: var(--color-gray-500);
  pad: 0.8rem;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-size: 1.5rem;
}

.card {
  /* background: var(--color-gray-500); */
  background: rgb(18, 24, 39);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
  /* background: radial-gradient(30.34% 30.34% at 34.14% 12.45%, #375DBE 3%, #102A6D 93%, rgba(16, 42, 109, 0) 100%)'; */
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 3rem 3rem 3rem 3rem;
  transition: var(--transition);
}

.selectedcard {
  /* background: #006400; */
  background: black;
  /* border: 2px solid rgb(18, 185, 129); */
  /* border: 2px solid white; */
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 3rem 3rem 3rem 3rem;
  transition: var(--transition);
}

.card:hover {
  background: black;
  border-color: var(--color-gray-400);
  cursor: default;
}

.selectedcard span {
  opacity: 1;
  filter: invert(1) saturate(0.4);
  width: 3rem;
  height: 3rem;
  /* background: rgb(11, 126, 20); */
  /* background: rgb(18, 185, 129); */
  background: white;
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.selectedcard p{
  /* color : rgb(18, 185, 129) !important; */
}

.unselectedcard p{
  color : rgb(74, 74, 74) !important;
}

.unselectedcard {
  /* background: var(--color-gray-500); */
  background: #242a38;
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 3rem 3rem 3rem 3rem;
  transition: var(--transition);
}

.unselectedcard:hover {
  background: black;
  border-color: var(--color-gray-400);
  cursor: default;
}

.unselectedcard span {
  opacity: 0.3;
  /* filter: invert();
  filter: sepia(); */
  filter: invert(1) saturate(0.4);
  width: 3rem;
  height: 3rem;
  /* background: var(--color-primary); */
  /* background: #20073A; */
  background: black;
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.unselectedcard:hover span {
  /* background: var(--color-secondary); */
  background: #03326D;
  /* color: var(--color-gray-600); */
  color: white;
}

.card span {
  width: 3rem;
  height: 3rem;
  /* background: var(--color-primary); */
  /* background: #20073A; */
  background: #242a38;
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.card:hover span {
  /* background: var(--color-secondary); */
  background: #03326D;
  /* color: var(--color-gray-600); */
  color: white;
}

.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}

.header {
  margin-top: 5rem;
  height: 20rem;
  overflow: hidden;
  border-bottom: 2px solid var(--color-gray-400);
}

.headertocontainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  background: black;
}

.headertocontainer-bg {
  position: absolute;
  width: 100%;
}

.headertocontainer-bg img {
  opacity: 0.5;
}

.headertocontent {
  position: relative;
  width: 44%;
  margin: 0 auto;
  text-align: center;
  color: var(--color-gray-100);
}

.headertocontent h4 {
  margin-bottom: 1rem;
}

.headertocontent p {
  color: rgba(255, 255, 255, 0.7);
}

/* MEDIA QUERIES (medium screen) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .headertocontent {
    width: 76%;
  }
}

/* MEDIA QUERIES (small screen) */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.3;
  }

  section {
    margin-top: 7rem;
  }

  .header {
    height: fit-content;
  }

  .headertocontent {
    width: var(--container-width-md);
    padding: 3rem;
  }

  .headertocontent p {
    font-size: 0.85;
  }
}

/* MEDIA QUERIES (medium screen) */
@media screen and (max-width: 1024px) {

  /* MAIN HEADER */
  .maintoheader {
    height: fit-content;
    padding: 12rem 0;
  }

  .maintoheader-container {
    gap: 0;
  }

  .maintoheader-circle {
    width: 16rem;
    height: 16rem;
  }

  /* PROGRAMS */
  .programstowrapper {
    grid-template-columns: 1fr 1fr;
  }

  /* VALUES */
  .valuestocontainer {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 4rem;
  }

  .valuestowrapper {
    gap: 4rem 3rem;
  }

  .valuestoimage {
    display: none;
  }

  /* FAQs */
  .faqstowrapper {
    grid-template-columns: 1fr;
  }

  /* TESTIMONAILS */
  .testimonails {
    width: 75%;
  }

  /* FOOTER */
  .footertocontainer {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

/* MEDIA QUERIES (small screen) */
@media screen and (max-width: 600px) {

  /* MAIN HEADER */
  .maintoheader {
    margin-top: 0;
    padding: 12rem 0 0;
    height: 100vh;
  }

  .maintoheader-image,
  .maintoheader-circle {
    display: none;
  }

  .maintoheader-container {
    grid-template-columns: 1fr;
  }

  /* PROGRAMS */
  .programstowrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 3rem;
  }

  .programstoprogram {
    width: 84%;
    margin: 0 auto;
  }

  /* VALUES */
  .valuestowrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .card .valuestovalue {
    width: 84%;
    margin-inline: auto;
  }

  /* FAQs */
  .faqstowrapper {
    gap: 1rem;
    margin-top: 3rem;
  }

  /* TESTIMOMAILS */
  .testimonails {
    width: 100%;
  }

  /* FOOTER */
  footer {
    margin-top: 7rem;
  }

  .footertocontainer {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footertocontainer article {
    align-items: center;
  }

  .footertocontainer article p {
    text-align: center;
  }
}

.style-input {
  font-family: 'Space Mono';
  width: fit-content;
}

/* .spInput {
  width: 3rem;
  height: 3rem;
  background: var(--color-primary);
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.spInput:hover {
  background: var(--color-secondary);
  color: var(--color-gray-600);
} */


.workout-input::placeholder { /* Most modern browsers support this now. */
  color:    grey;
}